body {
    color: gray;
    background-color: black;
}

#self-photo {
    box-shadow: 0 0 5px  white;
    float: right;
    margin: 20px;
    height: 200px;
    border-radius: 10px;
}

h1 {
    display: inline-block;
    color: lightgray;
}

h2 {
    color: lightslategrey;
}

nav {
    float: right;
}

nav li {
    display: inline-block;
    font-size: 1.25rem;
    padding: 10px;
}

section, header {
    margin: 20px;
}

summary {
    width: 50%;
}

.project img {
    width: 300px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}